body {
  background-color: #B02203;
}

.jumbotron {
  background-color: #578C05;
}

#angelSlice img{
  width: 24em;
}

#title {
  margin-top: 4em;
}

#restaurantName {
  text-align: left;
  font-family: 'Jim Nightshade', cursive;
  font-size: 12em;
  color: #B02203;
  margin-bottom: -0.3em;
}

#lilSlice {
  font-family: 'Mr Dafoe', cursive;
  text-align: left;
  font-size: 4em;
  margin-left: 1em;
}

#comeDown {
  font-family: 'Berkshire Swash', cursive;
  font-size: 6em;
  text-align: center;
  color: #504B1D;
}

.specialTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #504B1D;

}

#specials {
  text-align: center;
  color: #504B1D;
}
#specials img {
  width: 15em;
}

#optionsTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #504B1D;
}

.optionTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}

#optionsMiddle {
  margin-top: 2em;
}

.spacer {
  margin-top: 15px;
}

#submit_button {
  margin-top: 1em;
}

#headRoom {
  margin-top: 1.7em;
}
