body {
  background-color: #750911;
}

.jumbotron {
  background-color: #578C05;
}

#angelSlice img{
  width: 24em;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#title {
  margin-top: 4em;
}

#restaurantName {
  text-align: center;
  font-family: 'Jim Nightshade', cursive;
  font-size: 7.5em;
  color: #B02203;
  margin-bottom: -0.3em;
}

#lilSlice {
  font-family: 'Mr Dafoe', cursive;
  text-align: center;
  font-size: 3em;
  color: #14174E;
}

#comeDown {
  font-family: 'Berkshire Swash', cursive;
  font-size: em;
  text-align: center;
  color: #504B1D;
}

.slide {
  padding-top: 0em;
  padding-bottom: 0em;
  margin-top: -2.1em;
  margin-bottom: -2em;
  background-color: #B02203;
}

.images {
  width: 100%;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  background-color: #222;
}

.specialTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #504B1D;
  font-size: 19px;

}

#specials {
  text-align: center;
  color: #504B1D;
}
#specials img {
  width: 4em;
}

#optionsTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  color: #504B1D;
}

.optionTitle {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
}

#optionsMiddle {
  margin-top: 2em;
}

#addToppings {
  text-align: center;
}

.spacer {
  margin-top: 15px;
}

#submit_button {
  margin-top: 1em;
}

#patronRadio {
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  font-size: 20px;
}

#configSubmit {
  text-align: center;
}

#headRoom {
  margin-top: 1.7em;
}
